div {
	background-color: #e6ee9c;
	border-radius: 10px;
	padding: 20px;
}

pre {
	background-color: #f9fbe7;
	padding: 20px;
	border-radius: 10px;
}

b {
	background-color: #e6ee9c;
	padding: 10px;
	border-radius: 10px;
}

span {
	background-color: #259b24;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

#progressbar {
	background-color: #259b24;
}

#progress {
	background-color: #72d572;
	margin-left: 0px;
}

#accountDiv {
	text-align: right;
}